{% extends 'SanApp/base.html' %}
{% load static %}
{% block contenidoQueCambia %}
<!DOCTYPE html>
<html lang="en">
  <header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Cliente</h1>
            <p class="lead fw-normal text-white-50 mb-0">Date de alta como cliente</p>
        </div>
    </div>
</header><br><br>
  
  <body>
    <section>
      <div class="d-flex justify-content-center aling-items-center">
          {% if mi_formu.errors %}
  
          <p style="color: red;"> Están mal los datos, revisar</p>
  
          {% endif %}
          <form action="" class="margin:0 auto" method="POST"> 
              {% csrf_token %}
        
               <table>
                  {{ mi_formu.as_table }}
              </table><br>
      </div>
          <div class="d-flex justify-content-center aling-items-center">
              <input type="submit" value="Enviar"/>
          </div>
          </form>
      </section> <br><br>
  </body>
</html>
{% endblock %}