{% extends 'SanApp/base.html' %}
{% load static %}
{% block contenidoQueCambia %}    
<header class="bg-danger py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Comprar</h1>
            <p class="lead fw-normal text-white-50 mb-0">pasanos tu pedido</p>
        </div>
    </div>
</header><br>
<!-- Section-->
<section class="d-flex justify-content-center aling-items-center">
     
    <a  class="btn btn-outline-danger" href="{% url 'Hacer_pedido' %}">
        <i class="bi-cart-fill me-1"></i>  
        <span class="badge bg-dark text-white ms-1 rounded-pill"></span>  
        Pedido
        
        
    </a>
</section>
         <section class="py-5">
          <div class="container px-4 px-lg-5 mt-5">
              <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                  <div class="col mb-5">
                      <div class="card h-200">
                          <!-- Product image-->
                          <img class="card-img-top" src="{%static 'SanApp/assets/img/hamb.png' %}" alt="..." />
                          <!-- Product details-->
                          <div class="card-body p-4">
                              <div class="text-center">
                                  <!-- Product name-->
                                  <h5 class="fw-bolder">Hamburguesa x4 unidades</h5>
                                  <!-- Product price-->
                                  $130
                              </div>
                          </div>
                          <!-- Product actions-->
                          {% comment %} <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                              <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
                          </div> {% endcomment %}
                      </div>
                  </div>
                  <div class="col mb-5">
                      <div class="card h-200">
                          <!-- Product image-->
                          <img class="card-img-top" src="{%static 'SanApp/assets/img/pancho.png' %}" alt="..." />
                          <!-- Product details-->
                          <div class="card-body p-4">
                              <div class="text-center">
                                  <!-- Product name-->
                                  <h5 class="fw-bolder">Panchos x6 unidades</h5>
                                  <!-- Product reviews-->
                                  {% comment %} <div class="d-flex justify-content-center small text-warning mb-2">
                                      <div class="bi-star-fill"></div>
                                      <div class="bi-star-fill"></div>
                                      <div class="bi-star-fill"></div>
                                      <div class="bi-star-fill"></div>
                                      <div class="bi-star-fill"></div>
                                  </div> {% endcomment %}
                                  <!-- Product price-->
                                  <span class=>$160</span>
                                  
                              </div>
                          </div>
                          <!-- Product actions-->
                          {% comment %} <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                              <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                          </div> {% endcomment %}
                      </div>
                  </div>
                  <div class="col mb-5">
                      <div class="card h-200">
                          
                          <!-- Product image-->
                          <img class="card-img-top" src="{%static 'SanApp/assets/img/lactal.png' %}" alt="..." />
                          <!-- Product details-->
                          <div class="card-body p-4">
                              <div class="text-center">
                                  <!-- Product name-->
                                  <h5 class="fw-bolder">Pan Lactal x350grs</h5>
                                  <!-- Product price-->
                                  <span class="">$230</span>
                                  
                              </div>
                          </div>
                          {% comment %} <!-- Product actions-->
                          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                              <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                          </div> {% endcomment %}
                      </div>
                  </div>
                  <div class="col mb-5">
                      <div class="card h-200">
                          <!-- Product image-->
                          <img class="card-img-top" src="{%static 'SanApp/assets/img/salva.png' %}" alt="..." />
                          <!-- Product details-->
                          <div class="card-body p-4">
                              <div class="text-center">
                                  <!-- Product name-->
                                  <h5 class="fw-bolder">Pan Salvado x350grs</h5>
                                  {% comment %} <!-- Product reviews-->
                                  <div class="d-flex justify-content-center small text-warning mb-2">
                                      <div class="bi-star-fill"></div>
                                      <div class="bi-star-fill"></div>
                                      <div class="bi-star-fill"></div>
                                      <div class="bi-star-fill"></div>
                                      <div class="bi-star-fill"></div>
                                  </div> {% endcomment %}
                                  <!-- Product price-->
                                  $230
                              </div>
                          </div>
                          {% comment %} <!-- Product actions-->
                          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                              <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                          </div> {% endcomment %}
                      </div>
                  </div>
                     
                  </div>
              </div>
          </div>
      </section>        


  </body>
</html>
{% endblock %}