{% extends 'SanApp/base.html' %}
{% load static %}
{% block contenidoQueCambia %}
<header class="bg-danger py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Cliente</h1>
            <p class="lead fw-normal text-white-50 mb-0">Detalle</p>
            
        </div>
    </div>
</header><br>
    <body> 
        <h1>{{pedido.cliente}}
        
        </h1>
        <b>Cantidad: </b>{{pedido.cantidad}}<br>
        <b>Producto: </b>{{pedido.producto}}<br><br>

        <a href="{% url 'leer_pedidos' %}"> Ver todos los pedidos</a>
    </body> 
<br><br>
</html>
{% endblock %}