{% extends 'SanApp/base.html' %}
{% load static %}
{% block contenidoQueCambia %}    
<header class="bg-danger py-5">
    <div class="container px-4 px-lg-5 my-3">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Nuestra historia</h1>
            <p class="lead fw-normal text-white-50 mb-0"></p>
        </div>
    </div>
</header><br>



  <div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingOne">
        <button class="accordion-button btn-outline-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
          <b style="color:black">Comienzos</b>
        </button>
      </h2>
      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
        <div class="accordion-body">
          <strong>La Estrella Rosarina </strong>nace por el año 1973 de la mano de Don Antonio Di Mónaco y Doña Antonia Viazzi, con una panadería tradicional de barrio.Hoy, con casí 50 años de trabajo y experiencia, de la mano de Walter Di Mónaco, Carina Albalá, Iriel y Luciano, se convirtió en una panificadora con distribución mayorista.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
        <button class="accordion-button btn-outline-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
          <b style="color:black">Empresas que confian en nosotros</b>
        </button>
      </h2>
      <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
        <div class="accordion-body">
          <strong></strong> Sus panes son utilizados por destacadas empresas de la región para la elaboración de sus productos; entre ellas se destacan: Miga Miga, Sándwiches Individuales y Betos Lomos. Grandes cadenas de supermercados nos eligen para la producción de su línea de panificados, como es el caso de Carrefour Rosario, Paraná y San Nicolás y Supermercados Único para su marca Hacendados.
        </div>
      </div>
    </div>
  </div><br>


{% endblock %}