{% extends 'SanApp/base.html' %}
{% load static %}
{% block contenidoQueCambia %}
<header class="bg-danger py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Crear_cliente</h1>
            <p class="lead fw-normal text-white-50 mb-0">Probando las cosas del otro profe</p>
        </div>
    </div>
</header><br><br>

<form method="post" action="{% url 'Crear_cliente' %}">
   
    {% csrf_token %}
    <p>Nombre: </p>
    <input type="text" name="nombre">
    <p>Apellido: </p>
    <input type="text" name="apellido">
    <p>Celular: </p>
    <input type="number" name="celular">
    <p>Direccion: </p>
    <input type="text" name="direccion">
    <p>Localidad: </p>
    <input type="text" name="localidad">
    <input type="submit" Value="Enviar">


</form>


{% endblock contenidoQueCambia %}