{% extends 'SanApp/base.html' %}
{% load static %}
{% block contenidoQueCambia %}
<header class="bg-danger py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Pedido</h1>
            <p class="lead fw-normal text-white-50 mb-0">Cargue su nombre, producto y cantidad</p>
            
        </div>
    </div>
</header><br>
    <body>
        <div class="d-flex justify-content-center aling-items-center">
            {% if mi_formu.errors %}

        <p style="color: red;"> Están mal los datos, revisar</p>

            {% endif %}
        <form action="" class="margin:0 auto" method="POST"> 
             {% csrf_token %}
      
              <table>
                {{ mi_formu.as_table }}
            </table><br>
        </div>
            <div class="d-flex justify-content-center aling-items-center">
                <input class="btn btn-outline-dark btn-sm" type="submit" value="Enviar"/>
            </div>
        </form>
        
    </body> 
<br><br>
</html>
{% endblock %}