{% extends 'SanApp/base.html' %}
{% load static %}
{% block contenidoQueCambia %}
<header class="bg-danger py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Clientes</h1><br>
            <a href= {% url 'Nuevo_cliente' %} class="btn btn-danger btn-sm">Añadir Cliente</a> <br> <br>
            <p class="lead fw-normal text-white-50 mb-0"> 
            <table class="table">
                <tbody>
                  {% csrf_token %}
                  <tr class="text-white-1 mb-0">
                    <th>Cliente</th>
                  </tr>
                    {% for x in cliente %}
                  <tr class="text-white mb-0">
                    <td>{{x.nombre}} {{x.apellido}}</td>
                    <td>
                      <a href="{% url 'detalle_cliente' x.id %}" class="btn btn-danger btn-sm" >Ver

                    </td>
                    <td>
                      <a href="{% url 'editar_cliente' x.id %}" class="btn btn-danger btn-sm">Editar
                    </td>
                    <td>
                      <form action="{% url 'eliminar_cliente' x.id %}" method="post">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-danger btn-sm" value="Eliminar"/>
                        <form/>
                      
                    </td>
                  </tr>
                  
                </tbody>
                {% endfor %}
            </table> 

                {% comment %} <button>
                    <a href=""></a>
                    <a href=""></a>
                </button> {% endcomment %}
                
                </p>
        </div>
    </div>
</header>

    <body>

    </body>
</html>
{% endblock %}