{% extends 'SanApp/base.html' %}
{% load static %}
{% block contenidoQueCambia %}
<header class="bg-danger py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">La Estrella</h1>
            <p class="lead fw-normal text-white-50 mb-0">Bienvenidos</p>
        </div>
    </div>
</header><br>
<body>
    <div class="d-flex justify-content-center aling-items-center">
        <form action="" method="post">
        {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table><br>
            <div class="d-flex justify-content-center aling-items-center">
                <input type="submit" class="btn btn-outline-danger " value="Iniciar Sesion"/>
            </div><br>
            <div class="d-flex justify-content-center aling-items-center"> <h5>Si no tenes usuario</h5>
                {% csrf_token %}
               <a class="btn btn-outline-dark btn-light btn-sm"  href="{% url 'registro' %}"> Registrate</a>
            </div>
        </form>
    </div>
</body><br>   

{% endblock %}