{% extends 'SanApp/base.html' %}
{% load static %}
{% block contenidoQueCambia %}
<header class="bg-danger py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Perfecto, ya tenemos tus datos para contactarte</h1>
            <p class="lead fw-normal text-white-50 mb-0">¿Desea comprar/cambiar un producto?</p>
            
        </div>
    </div>
</header>
<body><br>
<div class= "d-flex justify-content-center aling-items-center">
    <div>
        <a  class="btn btn-outline-danger btn-light" href="{% url 'Hacer_pedido' %}">
            <i class="bi-cart-fill me-1"></i>  
            <span class="badge bg-dark text-white ms-1 rounded-pill"></span>  
            Comprar    
        </a>
        <a  class="btn btn-outline-danger btn-light" href="{% url 'Hacer_cambios' %}">
            <i class="bi-cart-fill me-1"></i>  
            <span class="badge bg-dark text-white ms-1 rounded-pill"></span>  
            Cambiar
        </a>
    </div>
</div>
    
</body><br>
</html>
{% endblock %}